.modal-container {
  width: 590px;
  height: 625px;
  background-color: wheat;
  border-radius: 15px;
  display: flex;
  flex-direction: column;

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    padding: 0;
  }
}
